:root {
    --light-grey: #747474;
    --grey: #3f3f3f;
    --dark-grey: #202020;
    --purple: #571157;
    --dark-purple: #310727;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, var(--purple) 0%, var(--dark-purple) 40% 60%, var(--purple) 100%);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    letter-spacing: .1em;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 100;
}

.calculator-section {
    display: grid;
    place-items: center;
}

.calculator-body {
    height: 36em;
    padding: 1em 1em 2em 1em;
    background-color: var(--dark-grey);
    border: 2px var(--light-grey) solid;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1.5em var(--dark-grey);
}

.screen {
    height: 7em;
    background-color: black;
    border-radius: .5em;
    display: grid;
    justify-content: right;
    align-content: center;
    padding: 0em 1em;
}

.equation {
    color: green;
    text-shadow: 0 0 10px green;
    box-sizing: content-box;
    font-size: 3em;
}

.buttons {
    display: grid;
    grid-template-columns: 5em 5em 5em 5em;
    grid-template-rows: 5em 5em 5em 5em 5em;
    column-gap: .5em;
    row-gap: .5em;
}

button {
    font-size: 1.75em;
    background-color: var(--grey);
    color: white;
    border: 2px solid var(--light-grey);
    border-radius: 0.5em;
    transition: background-color 200ms ease-in-out;
    box-shadow: 0 0.4em var(--grey);
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: var(--light-grey);
    transform: translateY(-8%);
    cursor: pointer;
}

button:active {
    transform: translateY(-4%);
}

.addition-button {
    grid-column: 4/5;
    grid-row: 4/6;
}

footer {
    padding: 4em;
    text-align: center;
    font-size: 1.25em;
    font-weight: 100;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}